.header {
	background: #fffffd;

	padding: 5px 0;
}
.headerContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80vw;
	margin: 0 auto;
}
.logo {
	width: 50px;
	height: 50px;
}
.logo img {
	max-width: 100%;
}
